html, body,
h1,h2,h3,h4,h5,h6,
p{
    margin: 0;
    padding: 0;
}
body{
  background-color: #fff;
}
*> :not(i){
  font-family: 'Montserrat', sans-serif;
}
p,a,h1,h2,h3,h4,h5,h6,span,button,label{
    font-family: 'Montserrat', sans-serif !important;
    color:#333;
}

/* Eliminar el anillo (outline) predeterminado en todos los elementos de entrada al enfocar */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  border-width: 1px;
  box-shadow: none !important;
}

button:focus {
  border-width: 0;
}

[type='checkbox']:checked {
  background-color: #34a98f !important;
}

.icon-green {
  filter: invert(41%) sepia(70%) saturate(352%) hue-rotate(116deg) brightness(94%) contrast(96%);
}

.icon-blue{
  filter: invert(73%) sepia(29%) saturate(397%) hue-rotate(157deg) brightness(91%) contrast(98%);
}

.icon-inactive{
  filter: grayscale(100%);
  opacity: 0.6;
}

.icon-black{
  filter: invert(74%) sepia(69%) saturate(3672%) hue-rotate(355deg) brightness(101%) contrast(102%);
}

.icon-white{
  filter: brightness(0) invert(1);
}

.icon-orange{
  filter: invert(74%) sepia(69%) saturate(3672%) hue-rotate(355deg) brightness(101%) contrast(102%);
}

.icon-gray{
  filter: grayscale(100%);
}

/* truncar textos */
.truncate-2 {
  overflow: hidden; /* oculta cualquier contenido que se desborde del contenedor */
  text-overflow: ellipsis; /* agrega tres puntos suspensivos al final del texto */
  display: -webkit-box; /* para mostrar el contenido en varias líneas*/
  -webkit-line-clamp: 2; /* para establecer el número máximo de líneas a 2 */
  -webkit-box-orient: vertical; /* para establecer la dirección de la caja en vertical */
}
.truncate-1 {
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el texto que sobrepasa el ancho del contenedor */
  text-overflow: ellipsis; /* Agrega los tres puntos al final del texto truncado */
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.shadow-hoster{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

:root {
  --scrollbar-bg: #F3F3F3;
  --scrollbar-thumb: #A0A0A0;
  --scrollbar-thumb-radius: 22.5px;
  --scrollbar-width: 12px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-thumb-radius);
  border: 3px solid var(--scrollbar-bg);
}

.no-scrollbar::-webkit-scrollbar{
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* custom toast */
.warning-toast {
  background-color: #FFD453; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 8px; 
  width: auto !important; 
  min-width: 0;
  min-height: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* custom toast error */
.error-toast {
  background-color: #FF453A; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 8px; 
  width: auto !important; 
  min-width: 0;
  min-height: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* Estilos para el cuerpo del toast */
.warning-toast-body {
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  color:#333;
  white-space: nowrap; 
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* [type='checkbox']:checked {
  background-color: #34a98f !important;
}
[type='checkbox']:focus {
outline: 2px solid transparent;
--tw-ring-color: #ffffff00;
}

[type='checkbox']:focus, [type='checkbox']:hover {
background-color: #EBF9F0;
} */

/*clase para vue-quill editor */
.container-text-quill {
  list-style-type: disc;
}

.container-text-quill ul,
.container-text-quill ol {
  list-style: initial; /* Asegura que los estilos de lista iniciales se mantengan */
  padding-left:  32px; /* Añade espacio a la izquierda para una mejor visualización */
}

.container-text-quill ul {
  list-style-type: disc; /* Para listas no ordenadas, utiliza bullets */
}

.container-text-quill ol {
  list-style-type: decimal; /* Para listas ordenadas, utiliza números */
}

/*FIN clase para vue-quill editor */

/* alto del layout*/
.h-without-banner{
  height: 100vh;
}
.h-with-banner{
  height: calc(100vh - 40px);
}
.top-with-banner{
  top:40px;
}
/* alto del layout*/