input[type=radio]:hover {
    background-color: var(--h-green-200);
}

.hinput{
    border: 1px solid #333333;
    color: #333333;
    border-radius: 6px;
}
.hinput--grey{
    border: 1px solid #BFBFBF;
    color: #333333;
    border-radius: 6px;
}

.hinput-primary{
    border: 1px solid #BFBFBF;
    color: #333333;
    border-radius: 6px;
}
.hinput-primary:focus{
    outline: none;
    border: 1px solid #34A98F !important;
}
.hinput-primary:hover{
    border: 1px solid #34A98F;
}

.hinput-error{
    border: 1px solid #FF6666 !important;
    color: #FF6666 !important;

}
.hinput-error::placeholder{
    color: #FF6666 !important;

}

.hinput-green:hover {
    border: 1px solid #34A98F;
    color: #34A98F;
}

.hinput-green:hover::placeholder {
    color: #34A98F;
}